.view section {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.view section .content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.group, .view section .content {
    padding: 40px;
    box-shadow: 0 0 10px var(--color-shadow);
    border-radius: var(--radius)
}

.view section .right {
    position: relative;
    flex: 1;
}

.chances .text {
    color: var(--color-low)
}

.chances .text h3 {
    color: var(--color-low)
}


@media screen and (min-width: 1024px) {

    .chances .text:before {
        content: "";
        position: absolute;
        left: 0;
        display: block;
        height: 100%;
        width: 1px;
        background: var(--color-shadow);
    }

    .view section .content {
        flex-direction: row;
    }

    .view section .right {

        margin-left: 40px;
        padding-left: 40px;
    }
}
