:root {
    --background: white;
    --color: black;
    --background-accent: rgba(0,0,0,0.1);
    --color-primary: #1d3058;
    --color-primary-text: white;
    --color-alert: #f34235;
    --color-success: #6dbe70;
    --color-secondary: #ab4697;
}
