.title {
    color: var(--color-primary);
    text-transform: uppercase;
}

.small {
    font-size: var(--font-size-small);
}

.medium {
    font-size: var(--font-size-medium);
}

.medium-big {
    font-size: var(--font-size-medium-big);
}
.big {
    font-size: var(--font-size-big);
}
.biggest {
    font-size: var(--font-size-biggest);
}
