

div.candidate {
    padding: 0 0 20px;
}

.candidates {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.header {
    position: sticky;
    background: var(--color-background);
    border-bottom: 1px solid var(--color-primary);
    top: 0;
    z-index: 3;
}

.header nav {
    margin-bottom: 20px;
}

.header nav li {
    display: inline-block;
}

.header nav li + li {
    margin-left: 5px;
}


@media screen and (min-width: 768px) {


    .header nav li + li {
        margin-left: 25px;
    }

    .candidates {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {

    .detailsButton {
        margin-top: 40px;
    }

    .candidates {
        grid-template-columns: repeat(3, 1fr);
    }
}