

h2.title {
    border-top: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    padding: 10px 20px;
    background: var(--color-primary);
    color: var(--color-primary-text);
    margin-top: 80px;
}

div.candidate {
    padding: 0 0 20px;
}

.candidates {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.header {
    position: sticky;
    background: var(--color-background);
    border-bottom: 1px solid var(--color-primary);
    top: 0;
    z-index: 3;
}

.header nav {
    margin-bottom: 20px;
}

.header nav li {
    display: inline-block;
}

.header nav li + li {
    margin-left: 5px;
}

.stats span {
    font-size: var(--font-size-small);
    color: var(--color-low);
}

.results {
    margin-top: 20px;
}

.results .name {
    font-weight: bold;
}

.results li div {
    font-size: var(--font-size-medium)
}

.results li {
    border-bottom: 1px solid var(--color-primary);
    padding-bottom: 20px;
    align-items: center;
}

.results li > div:last-of-type {
    display: none;
}



@media screen and (min-width: 768px) {

    .header nav li + li {
        margin-left: 25px;
    }

    .candidates {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {


    .results li > div:last-of-type {
        display: block;
    }

    .detailsButton {
        margin-top: 40px;
    }

    .candidates {
        grid-template-columns: repeat(3, 1fr);
    }
}
