.view {

}

.candidate {
    padding: 0 0 20px;
}

.candidates {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 768px) {


    .candidates {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {

    .detailsButton {
        margin-top: 40px;
    }

    .candidates {
        grid-template-columns: repeat(3, 1fr);
    }
}