

.scandal {
    color: var(--color-alert);
}

.details li {
    font-size: var(--font-size-small);
}
.details h3,
.details h4,
.details h5 {
    margin: 15px 0 5px;
}


@media screen and (max-width:767px) {
    .details {
        order: 3;
    }

    .details li {
        font-size: var(--font-size-medium);
    }
}
