.votes {
    width: auto;
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-columns: min-content;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}

.block {
    position: relative;
    cursor: pointer;
}

.square {
    width: 40px;
    height: 40px;
    background: var(--color-low);
    border-radius: var(--radius);
}

.square:hover + .details {
    opacity: 1;
}

.for .square {
    background: var(--color-success);
}

.against .square {
    background: var(--color-alert);
}

.warning {
    position: absolute;
    top: -8px;
    right: -10px;
    border-radius: 4px;
    padding: 0 4px;
    background: var(--color-warning);
}

.warning svg {
    fill: var(--color);
}
.warning:hover .details {
    opacity: 1;
}
