.votes {
    width: auto;
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-columns: min-content;
}

.block {
    position: relative;
    margin: 5px;
    cursor: pointer;
}

.square {
    width: 40px;
    height: 40px;
    background: var(--color-low);
    border-radius: var(--radius);
}

.square:hover+.details {
    opacity: 1;
}

.for .square {
    background: var(--color-success)
}

.against .square{
    background: var(--color-alert)
}

.details {
    display: none;
}

.warning  {
    position: absolute;
    top: -8px;
    right: -10px;
    border-radius: 4px;
    padding: 0 4px;
    background: var(--color-warning);
}

.warning svg {
    fill: var(--color);
}
.warning:hover .details {
    opacity: 1;
}

@media screen and (min-width: 1024px) {


    .details {
        display: block;
        cursor: pointer;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 100%;
        width: 300px;
        background: var(--color-background);
        padding: 10px;
        box-shadow: 5px 5px 10px var(--color-shadow);
        z-index: 2;
        pointer-events: none;
    }

}
